{% extends "db_lilly/base.html" %}

{% block heading %}Devil DVDs{% endblock %}

{% block content %}

<p>
<table>
{% for dvd in dvds %}
    <tr>
    <td><b>
        {% if dvd.film_or_tv == "TV" %}
            <a href="{% url 'db_lilly.views.tv' dvd.mediaid %}">{{dvd.primary_title}}</a>
        {% else %}
            <a href="{% url 'db_lilly.views.film' dvd.mediaid %}">{{dvd.primary_title}}</a>
        {% endif %}
    </b><br/><br/>
    {% if dvd.tagline != "NONE" %}
        {{dvd.tagline}}
    {% endif %}
    <br/><br/>
    </td>
    <td>
        {% for poster in dvd.poster_set.all|slice:":1" %}
             <img src="{{poster.poster}}" width="50%" height="50%"/>
        {% endfor %}
    </td>
    </tr>
{% endfor %}
</table>
<br/>

{{dvds.count}} Devil DVD{{dvds|pluralize}} found in the database.
</p>

{% endblock %}
