{% extends "db_lilly/base.html" %}

{% block heading %}{{title}}
{% if poster %}<img src="{{poster.poster}}" style="float:right"/>{% endif %}
{% endblock %}

{% block tagline %}
   {% if media.tagline != "NONE" %}
       {{media.tagline}}
   {% endif %}
{% endblock %}

{% block content %}

<p>
{% for i in items %}
    <b>Call number:</b> {{i.call_number}}<br/>
    <b>Status:</b> {{i.availability}}<br/>
    {% if i.loanid.loan_type == "Devil DVD" %}
        <b>Type:</b> <a href="{% url 'db_lilly.views.devil_dvds' %}">{{i.loanid.loan_type}}</a><br/>
    {% else %}
        <b>Type:</b> {{i.loanid.loan_type}}<br/>
    {% endif %}
    <b>Location:</b> {{i.loanid.location}}<br/>
    <b>Loan Time:</b> {{i.loanid.loan_time}}<br/>
    <br/>
{% endfor %}

{% if summary %}{{summary.summary}}<br/><br/>{% endif %}

{% if media.rating != "NONE" %}
    <b>Rating:</b> {{media.rating}}<br/>
{% endif %}

{% if media.release_year != -1 %}
    <b>Year:</b> {{media.release_year}}<br/>
{% endif %}

{% if media.country != "NONE" %}
    <b>Country:</b> {{media.country}}<br/>
{% endif %}

<b>Format:</b> {{media.format}}<br/>

{% if languages %}
    <b>Language{{languages.pluralize}}:</b><br/>
    {% for lang in languages %}
         {{lang}}<br/>
    {% endfor %}
    <br/>
{% endif %}
<br/>

{% if actors %}
    <b>Actors{{actors.pluralize}}:</b><br/>
    {% for actor in actors %}
        <a href="{% url 'db_lilly.views.people' actor.performer %}">{{actor.performer}}</a><br/>
    {% endfor %}
    <br/>
{% endif %}

{% if directors %}
    <b>Director{{directors.pluralize}}:</b><br/>
    {% for name in directors %}
        <a href="{% url 'db_lilly.views.people' name.director %}">{{name.director}}</a><br/>
    {% endfor %}
    <br/>
{% endif %}

{% if genres %}
    <b>Genre{{genres.pluralize}}:</b><br/>
    {% for element in genres %}
        <a href="{% url 'db_lilly.views.genre' element.genre %}">{{element.genre}}</a><br/>
    {% endfor %}
    <br/>
{% endif %}

{% if companies %}
    <b>Production Company{{companies.pluralize}}:</b><br/>
    {% for com in companies %}
         <a href="{% url 'db_lilly.views.company' com.match %}">{{com.company}}</a><br/>
    {% endfor %}
    <br/>
{% endif %}

</p>

{% endblock %}
