{% extends "db_lilly/base.html" %}

{% block heading %}Home{% endblock %}

{% block content %}
<p>
<ul>
<li>Browse <a href="{% url 'db_lilly.views.all_dvds' %}">Everything</a></li>
<li>Browse <a href="{% url 'db_lilly.views.all_tv' %}">TV Shows</a></li>
<li>Browse <a href="{% url 'db_lilly.views.all_films' %}">Films</a></li>
<li>Browse <a href="{% url 'db_lilly.views.devil_dvds' %}">Devil DVDs</a></li>
<li>Browse by <a href="{% url 'db_lilly.views.all_genres' %}">Genre</a></li>
<li>Browse by <a href="{% url 'db_lilly.views.all_people' %}">Cast</a></li>
<li>Browse by <a href="{% url 'db_lilly.views.all_companies' %}">Production Company</a></li>
</ul>
</p>
{% endblock %}
